* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
body {
    font-family: "Karla", sans-serif;
    background-color: #F3F0E9;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Lato", sans-serif;
    margin: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;    
}

h2 {
    font-family: "Lato", sans-serif;
    margin: 0;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.75rem;
}

h3 { 
    font-family: "Lato", sans-serif;
    margin: 0;
    color: #000;
    text-transform: uppercase;
    font-size: 1.375rem;
}

p {
    font-family: "Karla", sans-serif;
    color: #000;
    margin: 0;
    font-size: 1rem;   
}

a {
    font-family: "Karla", sans-serif;
    font-size: 0.9rem;
}

.highlight-text {
    font-family: "Lato", sans-serif;
    margin: 0;
    color: #D69E3D;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
}

.white-text {
    color: #fff;
}

.centered-text {
    text-align: center;
    align-items: center;
}

img { 
    width: 100%;
    height: auto;
}

/* Buttons */
.button {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    padding: 10px 20px;
    position: relative;
    transition: all .3s;
    display: inline-block;
}

.white-btn {
    background-color: #fff;
    color: #000;
}

.white-btn:hover, .white-btn:focus {
    background-color: #966F2C;
}

.black-btn {
    background-color: #000;
    color: #fff;
}

.black-btn:hover {
    background-color: #966F2C;
}

.outline-btn {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.outline-btn:hover {
    border-color: #CCCCCC;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Header */
header {  
    background-color: #000;
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
}

.main-nav {
    font-family: "Lato", sans-serif;
    margin: 0;
    height: 90px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
    font-style: normal;
}

.logo-container {
    height: 100%;
    width: auto;
    align-items: end;
    display: flex;
    justify-content: center;
}

.logo-container > img {
    height: auto;
    width: 138px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.logo-container > img:hover {
    opacity: .7;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #966F2C;
}

a:before {
    content: "";
    height: 2px;
    width: 100%;
    bottom: -2px;
    left: 0;
    position: absolute;
    background-color: #FFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s;
}

a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

/* Hero */
#coffee-hero {
    background-image: url(../images/hero-background.jpg);
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-size .3s;
}

.hero-overlay {
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.content-wrapper {
    height: auto;
    width: 90%;
    max-width: 400px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper p {
    margin-top: 12px;
}

.content-wrapper .button {
    margin-top: 28px;
}

.title-group {
    height: auto;
    width: 100%;
    gap: 6px;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Experience */
#coffee-experience {
    height: auto;
    width: 100%;
    position: relative;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.gallery-grid {
    height: auto;
    width: 100%;
    margin-top: 12px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.primary-grid {
    height: auto;
    width: 100%;
    position: relative;
}

.secondary-grid {
    height: auto;
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.grid-section-a {
    height: auto;
    width: 100%;
    gap: 16px;
    display: flex;
    position: relative;
}

.grid-section-b {
    height: auto;
    width: 100%;
    gap: 16px;
    display: flex;
    position: relative;
}

/* Visit */
#visit-us {
    height: auto;
    width: 100%;
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.benefits-container {
    height: auto;
    width: 100%;
    margin-top: 22px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}

.benefit-card {
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.benefit-card img {
    height: auto;
    width: 100%;
    max-width: 100px;
    transition: transform .3s;
}

.benefit-card:hover img {
    transform: translateY(-10px);
}

.benefit-card h3 {
    margin-top: 12px;
}

.benefit-card p {
    margin-top: 8px;
    width: 100%;
    text-align: center;
}

/* Explore */
#explore-menu {
    background-image: url(../images/coffee-shop.jpeg);
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    height: 442px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-size 0.3s;
}

#explore-menu:hover {    
    background-size: 210%;
}

.section-overlay {
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

/* About */
#about-us {
    height: auto;
    width: 100%;
    position: relative;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-column {
    height: auto;
    width: 100%;
    position: relative;
}

.text-column {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-column .button {
    margin-top: 15px;
}

.text-column p:nth-child(2) {
    margin-top: 6px;
}

.text-column p:nth-child(3) {
    margin-top: 8px;
}

/* Testimonials */
#customer-testimonials {
    height: auto;
    width: 100%;
    position: relative;
    padding: 50px 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-grid {
    height: auto;
    width: 100%;
    margin-top: 0;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.testimonial-column {
    height: 406px;
    width: 100%;
    padding: 18px 18px 32px;
    gap: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: padding .3s;
}

.testimonial-column img {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
}

.testimonial-column:nth-child(1) img {
    top: -32px;
}

.testimonial-column:nth-child(2) img {
    top: -4px;
}

.testimonial-column:nth-child(3) img {
    top: -4px;
}

.testimonial-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.testimonial-column:hover {
    padding: 18px 18px 42px;
}

/* Footer */
footer {
    height: auto;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.footer-content {
    height: 70px;
    width: 90%;
    padding-top: 10px;
    border-top: 1px solid #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tablet */
@media screen and (min-width: 768px) {
    h1 { font-size: 3rem; }
    h2 { font-size: 2.375rem; }
    h3 { font-size: 1.75rem; }
    
    .main-nav {
        height: 110px;
    }
    
    .logo-container > img {
        width: 196px;
    }
    
    #coffee-hero {
        height: 452px;
    }
    
    .content-wrapper {
        width: 540px;
        max-width: none;
    }
    
    .gallery-grid {
        flex-direction: row;
        gap: 16px;
        margin-top: 22px;
    }
    
    .benefits-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
    }
    
    .benefit-card {
        flex-basis: 50%;
        flex-grow: 1;
    }
    
    .benefit-card:nth-child(3) {
        margin-top: 30px;
    }
    
    #explore-menu {
        height: 470px;
        background-size: 120%;
    }
    
    #explore-menu:hover {
        background-size: 130%;
    }
    
    #about-us {
        padding: 84px 0;
    }
    
    .testimonial-grid {
        flex-direction: row;
        margin-top: 20px;
    }
    
    .testimonial-column {
        height: 406px;
    }
    
    .testimonial-column img {
        width: 120%;
    }
    
    .testimonial-column:nth-child(1) img,
    .testimonial-column:nth-child(2) img,
    .testimonial-column:nth-child(3) img {
        top: 0;
    }
}

/* Desktop */
@media screen and (min-width: 1100px) {
    h1 { font-size: 3.875rem; }
    h2 { font-size: 3rem; }
    h3 { font-size: 2rem; }
    
    .main-nav {
        height: 55px;
        max-width: 1200px;
        flex-direction: row;
    }
    
    .logo-container {
        align-items: center;
    }
    
    .logo-container > img {
        width: 184px;
    }
    
    .nav-menu {
        justify-content: flex-end;
        gap: 32px;
    }
    
    #coffee-hero {
        height: 674px;
    }
    
    .benefits-container {
        flex-wrap: nowrap;
        margin-top: 32px;
    }
    
    .benefit-card:nth-child(3) {
        margin-top: 0;
    }
    
    #explore-menu {
        height: 420px;
        background-size: 100%;
    }
    
    #explore-menu:hover {
        background-size: 110%;
    }
    
    #about-us {
        padding: 118px 0;
    }
    
    .footer-content {
        max-width: 1200px;
    }
}

/* Accessibility */
.skip-nav {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px 16px;
    z-index: 100;
    text-decoration: none;
    border-radius: 4px;
    transition: top 0.3s;
}

.skip-nav:focus {
    top: 10px;
}
